$color-orange: rgb(255, 102, 0);

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  color: $color-orange;
}
.wrap {
  width: 450px;
  height: 550px;
  background-color: rgb(217, 222, 226);
  display: flex;
  justify-content: center;
}
.container {
  width: 400px;
  height: 500px;
  background-color: #fff;
  margin-top: 15px;
  border: 2px solid rgb(228, 222, 222);
  &:hover {
    box-shadow: 0 0 5px 5px rgba(192, 179, 179, 0.25);
    .photo {
      opacity: 0.5;
    }
    .title {
      top: 180px;
    }
    .main-text {
      display: block;
    }
    .main {
      position: absolute;
      top: 210px;
      width: 380px;
    }
    .date {
      filter: brightness(50%);
    }
  }
}
.photo {
  width: 100%;
}
.date {
  position: absolute;
  left: 375px;
  top: 30px;
  color: aliceblue;
  background-color: $color-orange;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
  }
}

.title {
  color: aliceblue;
  background-color: $color-orange;
  padding: 10px;
  width: 65px;
  position: absolute;
  top: 240px;
}
.main {
  padding-left: 20px;
  background-color: #fff;
}
.main-text {
  color: rgb(134, 139, 143);
  line-height: 130%;
  word-spacing: 5px;
  text-align: justify;
  padding-top: 20px;
  padding-right: 50px;
  display: none;
}
.notes {
  display: flex;
  justify-content: flex-start;
}
.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  p {
    color: rgb(168, 174, 179);
  }
  img {
    flex-shrink: 0;

    height: 50%;
  }
}
